.info {
    display : flex;
}

.info-img {
    width : 80px;
    height : 80px;
    border-radius : 50%;
}

.info-main {
    width : 400px;
    height : 400px;
    margin-left : 50px;}
    .info-main-section {
    display : inline-block;
    width : 200px;
    height : 50px;
    font-size : 16px;
    line-height : 50px;
    color : #666666;}
span {
    margin-left : 20px;
}

.change-btn {
    color : #8e87de;
    cursor : pointer;
}
