.input-container {
    display : flex;
    justify-content : space-between;
    width : 200px;
    margin : 0 auto;
    margin-top : 20px;
}

.input-vcode{
    width : 40px;
    color : transparent;
    text-align : center;
    text-shadow : 0 0 0 #000;
    border : none;
    border-bottom : 1px solid #000;
    outline : none;
}